
h1 {
    background-color: rgb(182, 205, 231); font-size: 80px;
    padding: 20px;
}
h2 {
    padding: 0%;
}
p{
    color: grey
}

h3 {
   color: darkslateblue;
   font-size: 100px arial, georgia, helvetica;
   
}